html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  margin: .5rem;
  text-align: center;
}

.btn-normal {
  font-size: 1.125rem;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-style: solid;
  border-radius: 8px;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-color: #333;
}

.btn-subtle {
  text-decoration: none;
  background-color: #ccc;
  color: #fff;
  border-style: solid;
  border-radius: 8px;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-color: #ccc;
}

.btn-ghost {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-style: solid;
  border-radius: 8px;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-color: #000;
}

.btn-warning {
  text-decoration: none;
  background-color: #f33;
  color: #fff;
  border-style: solid;
  border-radius: 8px;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-color: #f33;
}

#btn a:hover {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  border-style: solid;
  border-radius: 8px;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-color: #000;
}

#btn-subtle a:hover {
  text-decoration: none;
  background-color: #666;
  color: #fff;
  border-style: solid;
  border-radius: 8px;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-color: #666;
}

#btn-ghost a:hover {
  text-decoration: none;
  background-color: #666;
  color: #fff;
  border-style: solid;
  border-radius: 8px;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-color: #666;
}

#btn-warning a:hover {
  text-decoration: none;
  background-color: #933;
  color: #fff;
  border-style: solid;
  border-radius: 8px;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-color: #933;
}
